body {
    background-color:darkblue;
}

.Info {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 25px;
}

#Ship {
    position:absolute;
}